pyarrow==6.0.1
joblib==1.5.3
pandas==2.3.3
protobuf==3.20.3
gitdb==4.0.12
aiosignal==1.4.0
frozenlist==1.8.0
datasets==1.18.0
wandb==0.23.1
async-timeout==5.0.1
annotated-types==0.7.0
charset-normalizer==3.4.4
six==1.17.0
tqdm==4.67.1
typing-inspection==0.4.2
numpy==2.0.2
tzdata==2025.2
propcache==0.4.1
multidict==6.7.0
typing_extensions==4.15.0
torch==1.10.0+cu113
urllib3==2.5.0
pydantic_core==2.41.5
attrs==25.4.0
yarl==1.22.0
filelock==3.19.1
fsspec==2025.10.0
platformdirs==4.4.0
GitPython==3.1.45
tokenizers==0.12.1
click==8.1.8
huggingface-hub==0.36.0
pillow==11.3.0
joblib==1.5.2
sentry-sdk==2.46.0
setuptools==80.9.0
requests==2.32.5
regex==2025.11.3
torchvision==0.11.1+cu113
pydantic==2.12.5
pip==25.3
packaging==25.0
sacremoses==0.1.1
xxhash==3.6.0
PyYAML==6.0.3
transformers==4.21.0
idna==3.11
sentencepiece==0.1.96
multiprocess==0.70.18
hf-xet==1.2.0
eval_type_backport==0.3.1
aiohttp==3.13.2
certifi==2025.11.12
scikit-learn==1.6.1
scipy==1.13.1
smmap==5.0.2
pytz==2025.2
aiohappyeyeballs==2.6.1
python-dateutil==2.9.0.post0
numpy==1.26.4
dill==0.4.0
threadpoolctl==3.6.0
pyarrow==6.0.1
joblib==1.5.3
pandas==2.3.3
protobuf==3.20.3
gitdb==4.0.12
aiosignal==1.4.0
frozenlist==1.8.0
datasets==1.18.0
wandb==0.23.1
async-timeout==5.0.1
annotated-types==0.7.0
charset-normalizer==3.4.4
six==1.17.0
tqdm==4.67.1
typing-inspection==0.4.2
numpy==2.0.2
tzdata==2025.2
propcache==0.4.1
multidict==6.7.0
typing_extensions==4.15.0
torch==1.10.0+cu113
urllib3==2.5.0
pydantic_core==2.41.5
attrs==25.4.0
yarl==1.22.0
filelock==3.19.1
fsspec==2025.10.0
platformdirs==4.4.0
GitPython==3.1.45
tokenizers==0.12.1
click==8.1.8
huggingface-hub==0.36.0
pillow==11.3.0
joblib==1.5.2
sentry-sdk==2.46.0
setuptools==80.9.0
requests==2.32.5
regex==2025.11.3
torchvision==0.11.1+cu113
pydantic==2.12.5
pip==25.3
packaging==25.0
sacremoses==0.1.1
xxhash==3.6.0
PyYAML==6.0.3
transformers==4.21.0
idna==3.11
sentencepiece==0.1.96
multiprocess==0.70.18
hf-xet==1.2.0
eval_type_backport==0.3.1
aiohttp==3.13.2
certifi==2025.11.12
scikit-learn==1.6.1
scipy==1.13.1
smmap==5.0.2
pytz==2025.2
aiohappyeyeballs==2.6.1
python-dateutil==2.9.0.post0
numpy==1.26.4
dill==0.4.0
threadpoolctl==3.6.0
jaraco.collections==5.1.0
packaging==24.2
importlib_metadata==8.0.0
tomli==2.0.1
backports.tarfile==1.2.0
typing_extensions==4.12.2
jaraco.context==5.3.0
typeguard==4.3.0
autocommand==2.2.2
jaraco.text==3.12.1
more-itertools==10.3.0
platformdirs==4.2.2
wheel==0.45.1
inflect==7.3.1
jaraco.functools==4.0.1
zipp==3.19.2
