_wandb:
    value:
        cli_version: 0.23.1
        e:
            vlvyada14qvapfixozvsycbtrerr1ltm:
                args:
                    - --task
                    - DSI
                    - --model_name
                    - ./local_models/google/mt5-base
                    - --run_name
                    - enron-10k-mt5-base-DSI-Q-classic
                    - --max_length
                    - "32"
                    - --output_dir
                    - models/enron-10k-mt5-base-DSI-Q-classic
                    - --learning_rate
                    - "0.0005"
                    - --warmup_steps
                    - "100000"
                    - --per_device_train_batch_size
                    - "32"
                    - --per_device_eval_batch_size
                    - "32"
                    - --evaluation_strategy
                    - steps
                    - --eval_steps
                    - "1000"
                    - --max_steps
                    - "1000000"
                    - --save_strategy
                    - steps
                    - --dataloader_num_workers
                    - "10"
                    - --save_steps
                    - "1000"
                    - --save_total_limit
                    - "2"
                    - --load_best_model_at_end
                    - --gradient_accumulation_steps
                    - "1"
                    - --report_to
                    - wandb
                    - --logging_steps
                    - "100"
                    - --dataloader_drop_last
                    - "False"
                    - --metric_for_best_model
                    - Hits@10
                    - --greater_is_better
                    - "True"
                    - --remove_prompt
                    - "True"
                    - --db_name
                    - data/enron.db
                    - --table_name
                    - N10k_text_rank_d2q_q1
                codePath: run.py
                codePathLocal: run.py
                cpu_count: 72
                cpu_count_logical: 72
                cudaVersion: "13.0"
                disk:
                    /:
                        total: "270185361408"
                        used: "5068541952"
                email: daniel@vanoosteroom.com
                executable: /gpfs/work5/0/prjs1828/DSI-QG/.venv/bin/python
                git:
                    commit: 4cb17c38394bf225a3f185174cb7f834bb170714
                    remote: git@github.com:daszo/snellius-code.git
                gpu: NVIDIA A100-SXM4-40GB
                gpu_count: 1
                gpu_nvidia:
                    - architecture: Ampere
                      cudaCores: 6912
                      memoryTotal: "42949672960"
                      name: NVIDIA A100-SXM4-40GB
                      uuid: GPU-c9457b51-bd78-c789-734c-07f0b889637d
                host: gcn64.local.snellius.surf.nl
                memory:
                    total: "540634701824"
                os: Linux-5.14.0-427.92.1.el9_4.x86_64-x86_64-with-glibc2.34
                program: /gpfs/work5/0/prjs1828/DSI-QG/run.py
                python: CPython 3.9.18
                root: /gpfs/work5/0/prjs1828/DSI-QG
                slurm:
                    cluster_name: snellius
                    conf: /var/spool/slurm/slurmd/conf-cache/slurm.conf
                    cpu_bind: quiet,mask_cpu:0x00003FFFF000000000
                    cpu_bind_list: "0x00003FFFF000000000"
                    cpu_bind_type: 'mask_cpu:'
                    cpu_bind_verbose: quiet
                    cpus_on_node: "18"
                    eclibr: "0"
                    ecplug: "1"
                    erlast: srun
                    ersrun: "1"
                    export_env: ALL
                    gpus: "1"
                    gpus_on_node: "1"
                    gtids: "0"
                    job_account: gisr113267
                    job_cpus_per_node: "18"
                    job_end_time: "1765971763"
                    job_gid: "75473"
                    job_group: dvoosteroom
                    job_id: "17652665"
                    job_name: bash
                    job_nodelist: gcn64
                    job_num_nodes: "1"
                    job_partition: gpu_a100
                    job_qos: normal
                    job_start_time: "1765968163"
                    job_uid: "76013"
                    job_user: dvoosteroom
                    jobid: "17652665"
                    launch_node_ipaddr: 172.18.63.192
                    localid: "0"
                    mpi_type: pmi2
                    nnodes: "1"
                    nodeid: "0"
                    nodelist: gcn64
                    nprocs: "1"
                    ntasks: "1"
                    oom_kill_step: "0"
                    prio_process: "0"
                    procid: "0"
                    pty_port: "40001"
                    pty_win_col: "210"
                    pty_win_row: "54"
                    script_context: prolog_task
                    srun_comm_host: 172.18.63.192
                    srun_comm_port: "43647"
                    step_gpus: "2"
                    step_gres: gres/cpu:0
                    step_id: "0"
                    step_launcher_port: "43647"
                    step_nodelist: gcn64
                    step_num_nodes: "1"
                    step_num_tasks: "1"
                    step_resv_ports: 12339-12340
                    step_tasks_per_node: "1"
                    stepid: "0"
                    submit_dir: /gpfs/work5/0/prjs1828/DSI-QG
                    submit_host: int6.local.snellius.surf.nl
                    task_pid: "2305567"
                    tasks_per_node: "1"
                    topology_addr: root.ibsw26.gcn64
                    topology_addr_pattern: switch.switch.node
                    umask: "0027"
                startedAt: "2025-12-17T11:03:25.558619Z"
                writerId: vlvyada14qvapfixozvsycbtrerr1ltm
        m: []
        python_version: 3.9.18
        t:
            "1":
                - 1
                - 5
                - 11
                - 49
                - 51
                - 53
            "2":
                - 1
                - 5
                - 11
                - 49
                - 51
                - 53
            "3":
                - 13
            "4": 3.9.18
            "5": 0.23.1
            "6": 4.21.0
            "12": 0.23.1
            "13": linux-x86_64
